<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Journal.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(Journal.Components.Layout.MainLayout)">
            <div class="p-4">
                <h3>Page not found</h3>
                <p class="text-muted">The page you requested doesn’t exist.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
